In [112]:
#QUES NO .01
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [113]:
driver = webdriver.Chrome(r'C:\Users\BHAVYA OJHA\OneDrive\Documents\Downloads\chromedriver_win32 (2)\chromedriver.exe')

In [114]:
url='https://www.naukri.com/'
driver.get(url)

In [115]:
from selenium.webdriver.common.by import By

In [116]:
search_jobs = driver.find_element(By.CLASS_NAME,'suggestor-input')
search_jobs

In [117]:
search_jobs.send_keys('Data Analyst')

In [118]:
search_locn= driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_locn

In [119]:
search_locn.send_keys('Bangalore')

In [120]:
search_btn= driver.find_element (By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn

In [121]:
search_btn.click()

In [122]:
title_tags = driver.find_elements (By.XPATH,'//a[@class="title fw500 ellipsis"]')
len (title_tags)

0

In [123]:
job_titles = []
for i in title_tags:
    job_titles.append(i.text)
len (job_titles)

0

In [124]:
job_titles

[]

In [125]:
loc_tags = driver.find_elements (By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [126]:
Location = []
for i in loc_tags:
    Location.append(i.text)
len (Location)

20

In [127]:
Location

['Bangalore/Bengaluru, karnataka\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru, Ahmedabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Old Madras Road)',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Gurgaon/Gurugram, Chennai, Mumbai (All Areas), Pune',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Kolkata, New Delhi, Hyderabad/Secunderabad, Chennai, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [128]:
comp_name = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(comp_name)

20

In [129]:
company_name = []
for i in comp_name:
    company_name.append(i.text)
len (company_name)

20

In [130]:
company_name

['Collabera',
 'Thomson Reuters',
 'Capco',
 'CURise Analytics Pvt. Ltd.',
 'Thomson Reuters',
 'KrazyBee',
 'Wipro',
 'Optum',
 'Optum',
 'Meesho',
 'Nuance India',
 'Cerner',
 'Wells Fargo',
 'Happay-Expense Management Solution for Businesses',
 'Kititan Co., Ltd',
 'Artech infosystem',
 "Moody's",
 "Moody's",
 "Moody's",
 'Schneider Electric']

In [131]:
exp_tags = driver.find_elements (By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [132]:
expiernce = []
for i in exp_tags:
    expiernce.append(i.text)
len (expiernce)

20

In [133]:
expiernce

['6-11 Yrs',
 '5-8 Yrs',
 '7-12 Yrs',
 '0-2 Yrs',
 '2-3 Yrs',
 '3-6 Yrs',
 '4-9 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '3-6 Yrs',
 '3-8 Yrs',
 '2-4 Yrs',
 '4-7 Yrs',
 '1-2 Yrs',
 '5-10 Yrs',
 '1-6 Yrs',
 '1-3 Yrs',
 '3-5 Yrs',
 '1-3 Yrs',
 '3-6 Yrs']

In [134]:
len(job_titles),len(company_name),len(expiernce),len(Location)

(0, 20, 20, 20)

In [135]:
jobs =  pd.DataFrame()
jobs['Job Titles'] =job_titles
jobs['Company'] =company_name
jobs['Experince'] =expiernce
jobs['Location'] = Location
jobs[:10]

,Job Titles,Company,Experince,Location
0,NaN,Collabera,6-11 Yrs,"Bangalore/Bengaluru, karnataka\n(WFH during Co..."
1,NaN,Thomson Reuters,5-8 Yrs,Bangalore/Bengaluru
2,NaN,Capco,7-12 Yrs,"Bangalore/Bengaluru, Pune, Chennai"
3,NaN,CURise Analytics Pvt. Ltd.,0-2 Yrs,"Bangalore/Bengaluru, Ahmedabad"
4,NaN,Thomson Reuters,2-3 Yrs,Bangalore/Bengaluru
5,NaN,KrazyBee,3-6 Yrs,Bangalore/Bengaluru(Old Madras Road)
6,NaN,Wipro,4-9 Yrs,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
7,NaN,Optum,2-7 Yrs,Bangalore/Bengaluru
8,NaN,Optum,1-4 Yrs,Bangalore/Bengaluru
9,NaN,Meesho,3-6 Yrs,Bangalore/Bengaluru

In [136]:
#QUES NO 02
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [460]:
driver = webdriver.Chrome(r'C:\Users\BHAVYA OJHA\OneDrive\Documents\Downloads\chromedriver_win32 (2)\chromedriver.exe')

In [461]:
url='https://www.naukri.com/'
driver.get(url)

In [462]:
from selenium.webdriver.common.by import By

In [463]:
search_jobs = driver.find_element(By.CLASS_NAME,'suggestor-input')
search_jobs

In [464]:
search_jobs.send_keys('Data Scientist')

In [465]:
search_locn= driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_locn

In [466]:
search_locn.send_keys('Bangalore')

In [467]:
search_btn= driver.find_element (By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn

In [468]:
search_btn.click()

In [470]:
title_tags = driver.find_elements (By.XPATH,'//a[@class="title fw500 ellipsis"]')
len (title_tags)

20

In [471]:
job_titles = []
for i in title_tags:
    job_titles.append(i.text)
len (job_titles)

20

In [472]:
job_titles

['Data Scientist/ Senior Data Scientist',
 'Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Hiring For Senior Data Scientist',
 'Dataiku Consultant',
 'Data Scientist',
 'Data & Analytics Tech - Informatica Cloud- Senior Associate',
 'Data Scientist: Advanced Analytics',
 'Research Scientist',
 'Principal - Data Scientist',
 'Research and Development -AI/ML -(PhD )',
 'Opportunity For Data Scientist - Female Candidates ONLY',
 'Senior Data Science Engineer',
 'Data Science - Engineering Manager',
 'Data Scientist',
 'EY GBS - Assistant Director - Data Science (10+ years), Bangalore',
 'Data Scientist',
 'Data Scientist, Personalization',
 'AWS Sagemaker',
 'Data Scientist',
 'Data Scientist: Artificial Intelligence']

In [473]:
loc_tags = driver.find_elements (By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [474]:
Location = []
for i in loc_tags:
    Location.append(i.text)
len (Location)

20

In [475]:
Location

['Bangalore/Bengaluru, Pune, Gurgaon/Gurugram, Chennai, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru, Pune',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Delhi / NCR',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Noida, Mumbai',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru']

In [476]:
comp_name = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(comp_name)

20

In [477]:
company_name = []
for i in comp_name:
    company_name.append(i.text)
len (company_name)

20

In [478]:
company_name

['Fractal Analytics',
 'Wipro',
 'TATA CONSULTANCY SERVICES (TCS)',
 'Wipro',
 'Applied Materials',
 'PwC',
 'IBM',
 'IBM',
 'Schneider Electric',
 'EXL',
 'PayU',
 'Fractal Analytics',
 'Paytm',
 'UPL',
 'EYGBS',
 'IBM',
 'Walmart',
 'Wipro',
 'Wipro',
 'IBM']

In [479]:
len(job_titles),len(company_name),len(Location)

(20, 20, 20)

In [480]:
jobs =  pd.DataFrame()
jobs['Job Titles'] =job_titles
jobs['Company'] =company_name
jobs['Location'] = Location
jobs[:10]

,Job Titles,Company,Location
0,Data Scientist/ Senior Data Scientist,Fractal Analytics,"Bangalore/Bengaluru, Pune, Gurgaon/Gurugram, C..."
1,Urgent Job Opening For AI Practitioner - Data ...,Wipro,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ..."
2,Hiring For Senior Data Scientist,TATA CONSULTANCY SERVICES (TCS),"Bangalore/Bengaluru, Pune"
3,Dataiku Consultant,Wipro,"Bangalore/Bengaluru, Pune, Chennai"
4,Data Scientist,Applied Materials,Bangalore/Bengaluru
5,Data & Analytics Tech - Informatica Cloud- Sen...,PwC,Bangalore/Bengaluru
6,Data Scientist: Advanced Analytics,IBM,Bangalore/Bengaluru
7,Research Scientist,IBM,Bangalore/Bengaluru
8,Principal - Data Scientist,Schneider Electric,Bangalore/Bengaluru
9,Research and Development -AI/ML -(PhD ),EXL,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."

In [157]:
# QUES NO 03 
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [158]:
driver = webdriver.Chrome(r'C:\Users\BHAVYA OJHA\OneDrive\Documents\Downloads\chromedriver_win32 (2)\chromedriver.exe')

In [159]:
url='https://www.naukri.com/'
driver.get(url)

In [160]:
from selenium.webdriver.common.by import By

In [161]:
search_jobs = driver.find_element(By.CLASS_NAME,'suggestor-input')
search_jobs

In [162]:
search_jobs.send_keys('Data Scientist')

In [163]:
search_btn= driver.find_element (By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn

In [164]:
search_btn.click()

In [166]:
loc_btn= driver.find_element(By.XPATH,'//i[@class="fleft naukicon naukicon-checkbox"]')

In [167]:
sal_btn= driver.find_element(By.XPATH,'//i[@class="fleft naukicon naukicon-checkbox"]')

In [168]:
title_tags = driver.find_elements (By.XPATH,'//a[@class="title fw500 ellipsis"]')
len (title_tags)

20

In [169]:
job_titles = []
for i in title_tags:
    job_titles.append(i.text)
len (job_titles)

20

In [170]:
job_titles

['Data Scientist/ Senior Data Scientist',
 'Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Research and Development -AI/ML -(PhD )',
 'Senior Data Science Engineer',
 'Data Science - Engineering Manager',
 'Opportunity For Data Scientist - Female Candidates ONLY',
 'DigitalBCG GAMMA Data Scientist',
 'Data Scientist - Noida/Bangalore',
 'Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Data Science - Lead Data Scientist',
 'Associate Data Scientist - Automotive Supply Chain & Technology',
 'Data Scientist: Advanced Analytics',
 'Data Scientist - Python/Machine Learning',
 'Senior Associate - Data Science',
 'Data Science Engineer - Gurgaon - Hybrid',
 'DigitalBCG | GAMMA Data Scientist',
 'Data Scientist- Forecasting and R or Python']

In [171]:
loc_tags = driver.find_elements (By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [172]:
Location = []
for i in loc_tags:
    Location.append(i.text)
len (Location)

20

In [173]:
Location

['Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Kochi/Cochin, New Delhi, Bangalore/Bengaluru, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Noida, Mumbai, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'New Delhi, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Noida, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Bangalore/Bengaluru, Delhi / NCR',
 'Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'New Delhi',
 'Noida']

In [174]:
comp_name = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(comp_name)

20

In [175]:
company_name = []
for i in comp_name:
    company_name.append(i.text)
len (company_name)

20

In [176]:
company_name

['Fractal Analytics',
 'Wipro',
 'EXL',
 'Fractal Analytics',
 'Paytm',
 'PayU',
 'Boston Consulting Group',
 'EXL',
 'EXL',
 'IBM',
 'Teleperformance (TP)',
 'IBM',
 'Paytm',
 'IHS Markit',
 'IBM',
 'Accubits Technologies',
 'Black Turtle',
 'Ofb Tech',
 'Boston Consulting Group',
 'Genpact']

In [177]:
exp_tags = driver.find_elements (By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [178]:
expiernce = []
for i in exp_tags:
    expiernce.append(i.text)
len (expiernce)

20

In [179]:
expiernce

['3-8 Yrs',
 '11-21 Yrs',
 '4-8 Yrs',
 '5-9 Yrs',
 '9-13 Yrs',
 '1-3 Yrs',
 '2-5 Yrs',
 '5-10 Yrs',
 '4-7 Yrs',
 '3-7 Yrs',
 '4-8 Yrs',
 '5-10 Yrs',
 '3-5 Yrs',
 '3-6 Yrs',
 '3-7 Yrs',
 '4-8 Yrs',
 '4-7 Yrs',
 '2-6 Yrs',
 '2-5 Yrs',
 '7-12 Yrs']

In [180]:

len(job_titles),len(company_name),len(expiernce),len(Location)

(20, 20, 20, 20)

In [181]:
jobs =  pd.DataFrame()
jobs['Job Titles'] =job_titles
jobs['Company'] =company_name
jobs['Experince'] =expiernce
jobs['Location'] = Location
jobs[:10]

,Job Titles,Company,Experince,Location
0,Data Scientist/ Senior Data Scientist,Fractal Analytics,3-8 Yrs,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben..."
1,Urgent Job Opening For AI Practitioner - Data ...,Wipro,11-21 Yrs,"Kochi/Cochin, New Delhi, Bangalore/Bengaluru, ..."
2,Research and Development -AI/ML -(PhD ),EXL,4-8 Yrs,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
3,Senior Data Science Engineer,Fractal Analytics,5-9 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ..."
4,Data Science - Engineering Manager,Paytm,9-13 Yrs,"Noida, Mumbai, Bangalore/Bengaluru"
5,Opportunity For Data Scientist - Female Candid...,PayU,1-3 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ..."
6,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,2-5 Yrs,"New Delhi, Bangalore/Bengaluru"
7,Data Scientist - Noida/Bangalore,EXL,5-10 Yrs,"Noida, Bangalore/Bengaluru"
8,Data Scientist,EXL,4-7 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
9,Data Scientist: Artificial Intelligence,IBM,3-7 Yrs,Gurgaon/Gurugram

In [182]:
# Ques no 04
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [183]:
driver = webdriver.Chrome(r'C:\Users\BHAVYA OJHA\OneDrive\Documents\Downloads\chromedriver_win32 (2)\chromedriver.exe')

In [184]:
url='https://www.flipkart.com/'
driver.get(url)

In [185]:
from selenium.webdriver.common.by import By

In [186]:
search = driver.find_element(By.CLASS_NAME,"_3704LK")
search

In [187]:
search.send_keys('sunglasses')

In [188]:
search_btn = driver.find_element (By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [189]:
search_btn.click()

In [194]:
brand_tag = driver.find_elements (By.XPATH,'//div[@Class="_2WkVRV"]')
len (brand_tag)

40

In [195]:
brand_title = []
for i in brand_tag:
    brand_title.append(i.text)
len (brand_title)

40

In [196]:

brand_title

['VINCENT CHASE',
 'ROYAL SON',
 'Elligator',
 'DAHAAZIL',
 'New Specs',
 'Fastrack',
 'SUNBEE',
 'ROZZETTA CRAFT',
 'PIRASO',
 'SRPM',
 'SUNBEE',
 'GANSTA',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'PIRASO',
 'ROYAL SON',
 'Fastrack',
 'PIRASO',
 'Lee Topper',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'elegante',
 'Lee Topper',
 'PIRASO',
 'PIRASO',
 'GANSTA',
 'ROZZETTA CRAFT',
 'PIRASO',
 'NuVew',
 'povty',
 'Fastrack',
 'Mi',
 'ROZZETTA CRAFT',
 'Ray-Ban',
 'Sewell',
 'SRPM',
 'Fastrack',
 'GANSTA']

In [197]:
prod_desc = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(prod_desc)

40

In [198]:
Product = []
for i in prod_desc:
    Product.append(i.text)
len (Product)

40

In [199]:
Product

['by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'Polarized, UV Protection Aviator Sunglasses (57)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Aviator Sunglasses (54)',
 'Night Vision, Riding Glasses Retro Square Sunglasses (5...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Gradient Aviator Sunglasses (57)']

In [200]:
price_tags = driver.find_elements (By.XPATH,'//div[@class="_30jeq3"]')
len(price_tags)

40

In [201]:
price = []
for i in price_tags :
    price.append(i.text)
len (price)

40

In [202]:
price

['₹749',
 '₹759',
 '₹315',
 '₹177',
 '₹264',
 '₹639',
 '₹259',
 '₹379',
 '₹224',
 '₹224',
 '₹283',
 '₹314',
 '₹195',
 '₹799',
 '₹224',
 '₹616',
 '₹639',
 '₹359',
 '₹299',
 '₹664',
 '₹474',
 '₹279',
 '₹306',
 '₹499',
 '₹229',
 '₹226',
 '₹246',
 '₹233',
 '₹303',
 '₹359',
 '₹291',
 '₹319',
 '₹719',
 '₹839',
 '₹331',
 '₹3,909',
 '₹279',
 '₹219',
 '₹1,039',
 '₹242']

In [203]:
next_page= driver.find_element (By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
next_page

In [204]:
next_page.click()

In [212]:
brand_tag2 = driver.find_elements (By.XPATH,'//div[@Class="_2WkVRV"]')
len (brand_tag2)

40

In [213]:
brand_title2 = []
for i in brand_tag2:
    brand_title2.append(i.text)
len (brand_title2)

40

In [214]:
brand_title2

['Fastrack',
 'New Specs',
 'SUNBEE',
 'VINCENT CHASE',
 'Lee Topper',
 'AISLIN',
 'ROYAL SON',
 'VINCENT CHASE',
 'LIZA ANGEL',
 'kingsunglasses',
 'CRYSTAL CART',
 'Arnette',
 'PIRASO',
 'kingsunglasses',
 'Fastrack',
 'Sewell',
 'AISLIN',
 'DEIXELS',
 'Fastrack',
 'ROYAL SON',
 'SRPM',
 'CRYSTAL CART',
 'Rich Club',
 'Ray-Ban',
 'PIRASO',
 'Elligator',
 'Silver Kartz',
 'Ray-Ban',
 'ROYAL SON',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'john jacobs',
 'VINCENT CHASE',
 'ROYAL SON',
 'kingsunglasses',
 'VINCENT CHASE',
 'Rich Club',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'ROYAL SON']

In [215]:
prod_desc2 = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(prod_desc2)

40

In [216]:
Product2 = []
for i in prod_desc2:
    Product2.append(i.text)
len (Product2)

40

In [217]:
Product2

['UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (52)',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'Others Oval Sunglasses (53)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Round Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Butterfly Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (53)',
 'Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'Polarized Round Sunglasses (48)',
 'UV Protection Oval Sunglasses (49)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (46)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square Sunglasses (62)']

In [218]:
price_tags2 = driver.find_elements (By.XPATH,'//div[@class="_30jeq3"]')
len(price_tags2)

40

In [219]:
price2 = []
for i in price_tags2 :
    price2.append(i.text)
len (price2)

40

In [220]:
price2

['₹599',
 '₹299',
 '₹283',
 '₹949',
 '₹219',
 '₹498',
 '₹379',
 '₹649',
 '₹199',
 '₹164',
 '₹189',
 '₹5,749',
 '₹246',
 '₹194',
 '₹719',
 '₹649',
 '₹498',
 '₹224',
 '₹759',
 '₹759',
 '₹249',
 '₹529',
 '₹225',
 '₹8,629',
 '₹223',
 '₹219',
 '₹320',
 '₹8,629',
 '₹379',
 '₹369',
 '₹379',
 '₹3,000',
 '₹749',
 '₹379',
 '₹269',
 '₹949',
 '₹265',
 '₹474',
 '₹379',
 '₹854']

In [221]:
next_page= driver.find_element (By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]')
next_page

In [222]:
next_page.click()

In [223]:
brand_tag3 = driver.find_elements (By.XPATH,'//div[@Class="_2WkVRV"]')
len (brand_tag3)

40

In [224]:
brand_title3 = []
for i in brand_tag3:
    brand_title3.append(i.text)
len (brand_title3)

40

In [225]:
brand_title3

['Fastrack',
 'SRPM',
 'kingsunglasses',
 'VINCENT CHASE',
 'kingsunglasses',
 'Elligator',
 'Fastrack',
 'VINCENT CHASE',
 'Singco India',
 'New Specs',
 'New Specs',
 'ROYAL SON',
 'PHENOMENAL',
 'Fastrack',
 'Singco India',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'kingsunglasses',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Fastrack',
 'VINCENT CHASE',
 'ROYAL SON',
 'SHAAH COLLECTIONS',
 'ROYAL SON',
 'ROYAL SON',
 'AISLIN',
 'AISLIN',
 'VINCENT CHASE',
 'ROYAL SON',
 'ROYAL SON',
 'Urbanic',
 'PIRASO',
 'AISLIN',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'Fastrack',
 'ROYAL SON']

In [226]:
prod_desc3 = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(prod_desc3)

40

In [227]:
Product3 = []
for i in prod_desc3:
    Product3.append(i.text)
len (Product3)

40

In [228]:
Product3

['Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'Mirrored, UV Protection Wayfarer, Rectangular Sunglasse...',
 'Polarized, UV Protection Round Sunglasses (51)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Shield Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (51)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Spectacle Sunglasses (57)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection, Polarized Wayfarer Sunglasses (54)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'UV Protection, Gradient Retro Square Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Retro Square Sunglasses (60)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'UV Protection, Gradient Butterfly Sunglasses (52)',
 'UV Protection Oval, Aviator Sunglasses (65)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'Polarized, UV Protection Wrap-around Sunglasses (62)',
 'Others Oval Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection, Gradient Retro Square Sunglasses (58)',
 'Polarized, UV Protection Sports Sunglasses (68)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (61)']

In [229]:
price_tags3 = driver.find_elements (By.XPATH,'//div[@class="_30jeq3"]')
len(price_tags3)

40

In [230]:
price3 = []
for i in price_tags3 :
    price3.append(i.text)
len (price3)

40

In [231]:
price3

['₹899',
 '₹233',
 '₹289',
 '₹1,533',
 '₹189',
 '₹379',
 '₹719',
 '₹1,533',
 '₹598',
 '₹154',
 '₹268',
 '₹664',
 '₹369',
 '₹759',
 '₹664',
 '₹759',
 '₹379',
 '₹329',
 '₹265',
 '₹616',
 '₹474',
 '₹899',
 '₹949',
 '₹569',
 '₹324',
 '₹699',
 '₹664',
 '₹1,145',
 '₹498',
 '₹949',
 '₹217',
 '₹799',
 '₹499',
 '₹405',
 '₹498',
 '₹1,234',
 '₹379',
 '₹664',
 '₹809',
 '₹699']

In [232]:
discount_tag = driver.find_elements (By.XPATH,'//div[@class="_3Ay6Sb"]')
len(discount_tag)

40

In [233]:
discount = []
for i in discount_tag:
    discount.append(i.text)
len (discount)

40

In [234]:
discount

['10% off',
 '76% off',
 '85% off',
 '23% off',
 '85% off',
 '74% off',
 '20% off',
 '23% off',
 '80% off',
 '89% off',
 '79% off',
 '66% off',
 '81% off',
 '15% off',
 '79% off',
 '62% off',
 '81% off',
 '79% off',
 '84% off',
 '69% off',
 '76% off',
 '10% off',
 '52% off',
 '71% off',
 '80% off',
 '65% off',
 '66% off',
 '69% off',
 '67% off',
 '52% off',
 '78% off',
 '60% off',
 '49% off',
 '84% off',
 '67% off',
 '50% off',
 '85% off',
 '66% off',
 '10% off',
 '65% off']

In [235]:
discount_tag2 = driver.find_elements (By.XPATH,'//div[@class="_3Ay6Sb"]')
len(discount_tag2)

40

In [236]:
discount2 = []
for i in discount_tag2 :
    discount2.append(i.text)
len (discount2)

40

In [237]:
discount2

['10% off',
 '76% off',
 '85% off',
 '23% off',
 '85% off',
 '74% off',
 '20% off',
 '23% off',
 '80% off',
 '89% off',
 '79% off',
 '66% off',
 '81% off',
 '15% off',
 '79% off',
 '62% off',
 '81% off',
 '79% off',
 '84% off',
 '69% off',
 '76% off',
 '10% off',
 '52% off',
 '71% off',
 '80% off',
 '65% off',
 '66% off',
 '69% off',
 '67% off',
 '52% off',
 '78% off',
 '60% off',
 '49% off',
 '84% off',
 '67% off',
 '50% off',
 '85% off',
 '66% off',
 '10% off',
 '65% off']

In [238]:
discount_tag3 = driver.find_elements (By.XPATH,'//div[@class="_3Ay6Sb"]')
len(discount_tag3)

40

In [239]:
discount3 = []
for i in discount_tag3 :
    discount3.append(i.text)
len (discount3)

40

In [240]:
discount3

['10% off',
 '76% off',
 '85% off',
 '23% off',
 '85% off',
 '74% off',
 '20% off',
 '23% off',
 '80% off',
 '89% off',
 '79% off',
 '66% off',
 '81% off',
 '15% off',
 '79% off',
 '62% off',
 '81% off',
 '79% off',
 '84% off',
 '69% off',
 '76% off',
 '10% off',
 '52% off',
 '71% off',
 '80% off',
 '65% off',
 '66% off',
 '69% off',
 '67% off',
 '52% off',
 '78% off',
 '60% off',
 '49% off',
 '84% off',
 '67% off',
 '50% off',
 '85% off',
 '66% off',
 '10% off',
 '65% off']

In [241]:
len(brand_tag+brand_tag2+brand_tag3),len(prod_desc+prod_desc2+prod_desc3),len(price_tags+price_tags2+price_tags3),len(discount+discount2+discount3)

(120, 120, 120, 120)

In [242]:
Sunglasses =  pd.DataFrame()
Sunglasses['Brand'] = brand_title+brand_title2+brand_title3 
Sunglasses['(Product Description'] = Product+Product2+Product3
Sunglasses['Price'] = price+price2+price3
Sunglasses['Discount'] = discount+discount2+discount3
Sunglasses [:100]

,Brand,(Product Description,Price,Discount
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹749,10% off
1,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (57)",₹759,76% off
2,Elligator,UV Protection Round Sunglasses (54),₹315,85% off
3,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",₹177,23% off
4,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264,85% off
...,...,...,...,...
95,ROYAL SON,"UV Protection, Polarized Wayfarer Sunglasses (54)",₹759,62% off
96,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹379,81% off
97,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹329,79% off
98,kingsunglasses,"UV Protection, Mirrored Round Sunglasses (Free...",₹265,84% off
99,ROYAL SON,"Polarized, UV Protection Retro Square Sunglass...",₹616,69% off

In [243]:
#QUES NO 06
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [244]:
driver = webdriver.Chrome(r'C:\Users\BHAVYA OJHA\OneDrive\Documents\Downloads\chromedriver_win32 (2)\chromedriver.exe')

In [245]:
url='https://www.flipkart.com/'
driver.get(url)

In [246]:
from selenium.webdriver.common.by import By

In [247]:
search_sneakers = driver.find_element(By.CLASS_NAME,'_3704LK')
search_sneakers

In [248]:
search_sneakers.send_keys(' sneakers')

In [249]:
search_btn = driver.find_element (By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [252]:
name_tags = driver.find_elements (By.XPATH,'//div[@class="_2WkVRV"]')
len (name_tags)

40

In [253]:
brand_titles = []
for i in name_tags:
    brand_titles.append(i.text)
len (brand_titles)

40

In [254]:
brand_titles

['WOODLAND',
 'BRUTON',
 'BRUTON',
 'FEWEYU',
 'URBANBOX',
 'Magnolia',
 'Chevit',
 'HOTSTYLE',
 'Labbin',
 'BIRDE',
 'aadi',
 'kardam&sons',
 'BIRDE',
 'ONECENTRE',
 'PUMA',
 'HOTSTYLE',
 'SFR',
 'PUMA',
 'KWIK FIT',
 'LOUIS PHILIPPE',
 'HOTSTYLE',
 'corsac',
 'CLYMB',
 'RapidBox',
 'BRUTON',
 'BIRDE',
 'Kraasa',
 'HOTSTYLE',
 'SCATCHITE',
 'Kraasa',
 'Layasa',
 'Roadster',
 'Kraasa',
 'PUMA',
 'BIRDE',
 'pollachief',
 'Kzaara',
 'D-SNEAKERZ',
 'Robbie jones',
 'Echor']

In [255]:
rate_tag= driver.find_elements (By.XPATH,'//div[@class="_30jeq3"]')
len(rate_tag)

40

In [256]:
price_tag= []
for i in rate_tag:
    price_tag.append(i.text)
len (price_tag)

40

In [257]:
price_tag

['₹2,096',
 '₹269',
 '₹299',
 '₹499',
 '₹198',
 '₹449',
 '₹649',
 '₹296',
 '₹499',
 '₹378',
 '₹319',
 '₹449',
 '₹335',
 '₹299',
 '₹2,099',
 '₹375',
 '₹289',
 '₹1,763',
 '₹397',
 '₹2,399',
 '₹258',
 '₹499',
 '₹579',
 '₹630',
 '₹269',
 '₹335',
 '₹479',
 '₹271',
 '₹399',
 '₹479',
 '₹499',
 '₹1,249',
 '₹479',
 '₹2,029',
 '₹249',
 '₹378',
 '₹254',
 '₹299',
 '₹499',
 '₹598']

In [258]:
des_tags = driver.find_elements (By.XPATH,'//a[@class="IRpwTa"]')
len(des_tags)

38

In [259]:
des_tags2 = driver.find_elements (By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
len(des_tags2)

2

In [260]:
desc_tags = []
for i in des_tags:
    desc_tags.append(i.text)
len (desc_tags)

38

In [261]:
desc_tags2 = []
for i in des_tags2:
    desc_tags2.append(i.text)
len (desc_tags2)

2

In [262]:
dis_tags = driver.find_elements (By.XPATH,'//div[@class="_3Ay6Sb"]')
len(dis_tags)

40

In [263]:
disc_tags = []
for i in dis_tags:
    disc_tags.append(i.text)
len (disc_tags)

40

In [264]:
disc_tags

['30% off',
 '79% off',
 '76% off',
 '75% off',
 '80% off',
 '55% off',
 '65% off',
 '40% off',
 '50% off',
 '62% off',
 '68% off',
 '71% off',
 '66% off',
 '50% off',
 '40% off',
 '24% off',
 '71% off',
 '49% off',
 '80% off',
 '40% off',
 '74% off',
 '66% off',
 '61% off',
 '36% off',
 '79% off',
 '66% off',
 '52% off',
 '45% off',
 '60% off',
 '52% off',
 '50% off',
 '70% off',
 '52% off',
 '42% off',
 '75% off',
 '62% off',
 '74% off',
 '54% off',
 '50% off',
 '70% off']

In [265]:
name_tags2 = driver.find_elements (By.XPATH,'//div[@class="_2WkVRV"]')
len (name_tags2)

40

In [266]:
brand_titles2 = []
for i in name_tags2:
    brand_titles2.append(i.text)
len (brand_titles2)

40

In [267]:
brand_titles2

['WOODLAND',
 'BRUTON',
 'BRUTON',
 'FEWEYU',
 'URBANBOX',
 'Magnolia',
 'Chevit',
 'HOTSTYLE',
 'Labbin',
 'BIRDE',
 'aadi',
 'kardam&sons',
 'BIRDE',
 'ONECENTRE',
 'PUMA',
 'HOTSTYLE',
 'SFR',
 'PUMA',
 'KWIK FIT',
 'LOUIS PHILIPPE',
 'HOTSTYLE',
 'corsac',
 'CLYMB',
 'RapidBox',
 'BRUTON',
 'BIRDE',
 'Kraasa',
 'HOTSTYLE',
 'SCATCHITE',
 'Kraasa',
 'Layasa',
 'Roadster',
 'Kraasa',
 'PUMA',
 'BIRDE',
 'pollachief',
 'Kzaara',
 'D-SNEAKERZ',
 'Robbie jones',
 'Echor']

In [268]:
rate_tag2= driver.find_elements (By.XPATH,'//div[@class="_30jeq3"]')
len(rate_tag2)

40

In [269]:
price_tag2= []
for i in rate_tag2:
    price_tag2.append(i.text)
len (price_tag2)

40

In [270]:
price_tag2

['₹2,096',
 '₹269',
 '₹299',
 '₹499',
 '₹198',
 '₹449',
 '₹649',
 '₹296',
 '₹499',
 '₹378',
 '₹319',
 '₹449',
 '₹335',
 '₹299',
 '₹2,099',
 '₹375',
 '₹289',
 '₹1,763',
 '₹397',
 '₹2,399',
 '₹258',
 '₹499',
 '₹579',
 '₹630',
 '₹269',
 '₹335',
 '₹479',
 '₹271',
 '₹399',
 '₹479',
 '₹499',
 '₹1,249',
 '₹479',
 '₹2,029',
 '₹249',
 '₹378',
 '₹254',
 '₹299',
 '₹499',
 '₹598']

In [271]:
des_tags3 = driver.find_elements (By.XPATH,'//a[@class="IRpwTa"]')
len(des_tags3)

38

In [272]:
des_tags4 = driver.find_elements (By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
len(des_tags4)

2

In [273]:
desc_tags3 = []
for i in des_tags3:
    desc_tags3.append(i.text)
len (desc_tags3)

38

In [274]:
desc_tags4 = []
for i in des_tags4:
    desc_tags4.append(i.text)
len (desc_tags4)

2

In [275]:

desc_tags3

['Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Fashionable casual sneaker shoes Sneakers For Men (Blac...',
 'Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Sneakers For Men',
 'Fashionable Luxury Canvas Casual Outdoor Sneakers White...',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'STR2 Sneakers For Men',
 'Smash v2 L Sneakers For Men',
 'Mike Stylish & Trendy Sneakers For Men',
 'Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'Sneakers For Men',
 'Sneakers For Men',
 'STYLISH MENS BLACK SNEAKER Sneakers For Men',
 'Sneakers For Men',
 'Sneaker Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Casual Walk...',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'CR-1 Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Smash v2 L White- Black Sneakers For Men',
 'Sports Running Shoes Sneakers For Men',
 'Casual Sneaker for Men Sneakers For Men',
 'Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Casual Sneakers Canvas Shoes For Men Sneakers For Men',
 'Casual Stylish Sneakers For Men Sneakers For Men']

In [276]:
desc_tags4

['Sneakers Sneakers For Men', 'Sneakers For Men']

In [277]:
dis_tags2 = driver.find_elements (By.XPATH,'//div[@class="_3Ay6Sb"]')
len(dis_tags2)

40

In [278]:
disc_tags2 = []
for i in dis_tags2:
    disc_tags2.append(i.text)
len (disc_tags2)

40

In [279]:
disc_tags2

['30% off',
 '79% off',
 '76% off',
 '75% off',
 '80% off',
 '55% off',
 '65% off',
 '40% off',
 '50% off',
 '62% off',
 '68% off',
 '71% off',
 '66% off',
 '50% off',
 '40% off',
 '24% off',
 '71% off',
 '49% off',
 '80% off',
 '40% off',
 '74% off',
 '66% off',
 '61% off',
 '36% off',
 '79% off',
 '66% off',
 '52% off',
 '45% off',
 '60% off',
 '52% off',
 '50% off',
 '70% off',
 '52% off',
 '42% off',
 '75% off',
 '62% off',
 '74% off',
 '54% off',
 '50% off',
 '70% off']

In [284]:
name_tags3 = driver.find_elements (By.XPATH,'//div[@class="_2WkVRV"]')
len (name_tags3)

40

In [285]:
brand_titles3 = []
for i in name_tags3:
    brand_titles3.append(i.text)
len (brand_titles3)

40

In [286]:
brand_titles3

['WOODLAND',
 'BRUTON',
 'BRUTON',
 'FEWEYU',
 'URBANBOX',
 'Magnolia',
 'Chevit',
 'HOTSTYLE',
 'Labbin',
 'BIRDE',
 'aadi',
 'kardam&sons',
 'BIRDE',
 'ONECENTRE',
 'PUMA',
 'HOTSTYLE',
 'SFR',
 'PUMA',
 'KWIK FIT',
 'LOUIS PHILIPPE',
 'HOTSTYLE',
 'corsac',
 'CLYMB',
 'RapidBox',
 'BRUTON',
 'BIRDE',
 'Kraasa',
 'HOTSTYLE',
 'SCATCHITE',
 'Kraasa',
 'Layasa',
 'Roadster',
 'Kraasa',
 'PUMA',
 'BIRDE',
 'pollachief',
 'Kzaara',
 'D-SNEAKERZ',
 'Robbie jones',
 'Echor']

In [287]:
rate_tag3= driver.find_elements (By.XPATH,'//div[@class="_30jeq3"]')
len(rate_tag3)

40

In [288]:
price_tag3= []
for i in rate_tag3:
    price_tag3.append(i.text)
len (price_tag3)

40

In [289]:
price_tag3

['₹2,096',
 '₹269',
 '₹299',
 '₹499',
 '₹198',
 '₹449',
 '₹649',
 '₹296',
 '₹499',
 '₹378',
 '₹319',
 '₹449',
 '₹335',
 '₹299',
 '₹2,099',
 '₹375',
 '₹289',
 '₹1,763',
 '₹397',
 '₹2,399',
 '₹258',
 '₹499',
 '₹579',
 '₹630',
 '₹269',
 '₹335',
 '₹479',
 '₹271',
 '₹399',
 '₹479',
 '₹499',
 '₹1,249',
 '₹479',
 '₹2,029',
 '₹249',
 '₹378',
 '₹254',
 '₹299',
 '₹499',
 '₹598']

In [290]:
des_tags5 = driver.find_elements (By.XPATH,'//a[@class="IRpwTa"]')
len(des_tags5)

38

In [291]:
des_tags6 = driver.find_elements (By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
len(des_tags6)

2

In [292]:
desc_tags5 = []
for i in des_tags5:
    desc_tags5.append(i.text)
len (desc_tags5)

38

In [293]:
desc_tags6 = []
for i in des_tags6:
    desc_tags6.append(i.text)
len (desc_tags6)

2

In [294]:
desc_tags5

['Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Fashionable casual sneaker shoes Sneakers For Men (Blac...',
 'Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Sneakers For Men',
 'Fashionable Luxury Canvas Casual Outdoor Sneakers White...',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'STR2 Sneakers For Men',
 'Smash v2 L Sneakers For Men',
 'Mike Stylish & Trendy Sneakers For Men',
 'Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'Sneakers For Men',
 'Sneakers For Men',
 'STYLISH MENS BLACK SNEAKER Sneakers For Men',
 'Sneakers For Men',
 'Sneaker Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Casual Walk...',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'CR-1 Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Smash v2 L White- Black Sneakers For Men',
 'Sports Running Shoes Sneakers For Men',
 'Casual Sneaker for Men Sneakers For Men',
 'Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Casual Sneakers Canvas Shoes For Men Sneakers For Men',
 'Casual Stylish Sneakers For Men Sneakers For Men']

In [295]:
desc_tags6

['Sneakers Sneakers For Men', 'Sneakers For Men']

In [296]:
dis_tags3 = driver.find_elements (By.XPATH,'//div[@class="_3Ay6Sb"]')
len(dis_tags3)

40

In [297]:
disc_tags3= []
for i in dis_tags3:
    disc_tags3.append(i.text)
len (disc_tags3)

40

In [298]:
disc_tags3

['30% off',
 '79% off',
 '76% off',
 '75% off',
 '80% off',
 '55% off',
 '65% off',
 '40% off',
 '50% off',
 '62% off',
 '68% off',
 '71% off',
 '66% off',
 '50% off',
 '40% off',
 '24% off',
 '71% off',
 '49% off',
 '80% off',
 '40% off',
 '74% off',
 '66% off',
 '61% off',
 '36% off',
 '79% off',
 '66% off',
 '52% off',
 '45% off',
 '60% off',
 '52% off',
 '50% off',
 '70% off',
 '52% off',
 '42% off',
 '75% off',
 '62% off',
 '74% off',
 '54% off',
 '50% off',
 '70% off']

In [299]:
len(brand_titles+brand_titles2+brand_titles3),len(price_tag+price_tag2+price_tag3),len(desc_tags+desc_tags2+desc_tags3+desc_tags4+desc_tags5+desc_tags6),len(disc_tags+disc_tags2+disc_tags3)

(120, 120, 120, 120)

In [300]:
sneakers =  pd.DataFrame()
sneakers['Brand'] =brand_titles+brand_titles2+brand_titles3
sneakers['Product Description'] =desc_tags+desc_tags2+desc_tags3+desc_tags4+desc_tags5+desc_tags6
sneakers['Price'] =price_tag+price_tag2+price_tag3
sneakers['Discount'] = disc_tags+disc_tags2+disc_tags3
sneakers[:100]

,Brand,Product Description,Price,Discount
0,WOODLAND,Sneakers For Men,"₹2,096",30% off
1,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹269,79% off
2,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹299,76% off
3,FEWEYU,Fashionable casual sneaker shoes Sneakers For ...,₹499,75% off
4,URBANBOX,Sneakers For Men,₹198,80% off
...,...,...,...,...
95,HOTSTYLE,Sneakers For Men,₹375,24% off
96,SFR,Puma Smash v2 L Sneakers For Men,₹289,71% off
97,PUMA,Kwik FIT casual sneaker shoes and partywear sh...,"₹1,763",49% off
98,KWIK FIT,Sneakers For Men,₹397,80% off
99,LOUIS PHILIPPE,Sneakers For Men,"₹2,399",40% off

In [301]:
#QUES NO 07
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [302]:
driver = webdriver.Chrome(r'C:\Users\BHAVYA OJHA\OneDrive\Documents\Downloads\chromedriver_win32 (2)\chromedriver.exe')

In [304]:
url='https://www.myntra.com/shoes'
driver.get(url)

In [305]:
from selenium.webdriver.common.by import By

In [306]:
name_tags = driver.find_elements (By.XPATH,'//h3[@class="product-brand"]')
len (name_tags)

50

In [307]:
brand_tags = []
for i in name_tags:
    brand_tags.append(i.text)
len (brand_tags)

50

In [308]:
brand_tags

['Puma',
 'Campus',
 'Campus',
 'Campus',
 'Woodland',
 'Woakers',
 'Roadster',
 'Puma',
 'Denill',
 'WROGN',
 'ASIAN',
 'HIGHLANDER',
 'Roadster',
 'Denill',
 'Sparx',
 'HIGHLANDER',
 'Puma',
 'ADIDAS',
 'HIGHLANDER',
 'Roadster',
 'Roadster',
 'HIGHLANDER',
 'Mactree',
 'Puma',
 'Ajanta',
 'HIGHLANDER',
 'Duke',
 'CLYMB',
 'Mactree',
 'HIGHLANDER',
 'ASIAN',
 'Mactree',
 'AfroJack',
 'HIGHLANDER',
 'ASIAN',
 'HIGHLANDER',
 'Campus',
 'HIGHLANDER',
 'Roadster',
 'HIGHLANDER',
 'shoexpress',
 'shoexpress',
 'Power',
 'Absolutee Shoes',
 'Zoom Shoes',
 'AfroJack',
 'ASIAN',
 'Campus',
 'RINDAS',
 'ASIAN']

In [309]:
des_tags = driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
len (des_tags)

50

In [310]:
 desc_tags= []
for i in des_tags:
    desc_tags.append(i.text)
len (desc_tags)

50

In [311]:
 desc_tags

['Men Lex Training Shoes',
 'Men Running Shoes',
 'Men Running Shoes',
 'Men Running Shoes',
 'Casual Shoes',
 'Men Running Shoes',
 'Men Sports Shoes',
 'Men Emergence Sports Shoes',
 'Women Walking Shoes',
 'Men Woven Design Running Shoes',
 'Men Running Shoes',
 'Men Driving Shoes',
 'Men Sports Shoes',
 'Women Running Shoes',
 'Men Running Shoes',
 'Men Driving Shoes',
 'Men Trekking Shoes',
 'Men Skateboarding Shoes',
 'Men Driving Shoes',
 'Men Sports Shoes',
 'Men Sports Shoes',
 'Men Driving Shoes',
 'Men Tan Derby Shoes',
 'Men Sports Shoes',
 'Women Formal Shoes',
 'Men Driving Shoes',
 'Women Running Shoes',
 'Men Running Shoes',
 'Men Walking Shoes',
 'Men Driving Shoes',
 'Men Running Shoes',
 'Men Walking Shoes',
 'Men Running Shoes',
 'Men Driving Shoes',
 'Men Running Shoes',
 'Men Driving Shoes',
 'Men Running Shoes',
 'Men Solid Driving Shoes',
 'Men Solid Running Shoes',
 'Men Driving Shoes',
 'Women Running Shoes',
 'Women Walking Shoes',
 'Women Walking Shoes',
 'Men Trekking Shoes',
 'Men Solid Derbys Formal Shoes',
 'Women Running Shoes',
 'Men Running Shoes',
 'Men Running Shoes',
 'Women Walking Shoes',
 'Women Running Shoes']

In [312]:
rate_tags = driver.find_elements(By.XPATH,'//div[@class="product-price"]')
len (rate_tags)

50

In [313]:
price_tags= []
for i in rate_tags:
    price_tags.append(i.text)
len (price_tags)

50

In [314]:
price_tags

['Rs. 4799Rs. 5999(20% OFF)',
 'Rs. 949Rs. 1049(Rs. 100 OFF)',
 'Rs. 899Rs. 1049(Rs. 150 OFF)',
 'Rs. 979Rs. 1049(Rs. 70 OFF)',
 'Rs. 3116Rs. 3895(20% OFF)',
 'Rs. 681Rs. 3405(80% OFF)',
 'Rs. 1199Rs. 3299(Rs. 2100 OFF)',
 'Rs. 2749Rs. 5499(50% OFF)',
 'Rs. 699Rs. 999(30% OFF)',
 'Rs. 2699Rs. 4499(40% OFF)',
 'Rs. 749Rs. 1499(50% OFF)',
 'Rs. 851Rs. 1548(45% OFF)',
 'Rs. 1199Rs. 3299(Rs. 2100 OFF)',
 'Rs. 699Rs. 999(30% OFF)',
 'Rs. 1099',
 'Rs. 696Rs. 1548(55% OFF)',
 'Rs. 1934Rs. 4299(55% OFF)',
 'Rs. 2529Rs. 4599(45% OFF)',
 'Rs. 696Rs. 1548(55% OFF)',
 'Rs. 1199Rs. 3299(Rs. 2100 OFF)',
 'Rs. 1199Rs. 3299(Rs. 2100 OFF)',
 'Rs. 851Rs. 1548(45% OFF)',
 'Rs. 1098Rs. 5490(80% OFF)',
 'Rs. 2199Rs. 3999(45% OFF)',
 'Rs. 629',
 'Rs. 760Rs. 1690(55% OFF)',
 'Rs. 908Rs. 2595(65% OFF)',
 'Rs. 609Rs. 999(39% OFF)',
 'Rs. 798Rs. 3990(80% OFF)',
 'Rs. 851Rs. 1548(45% OFF)',
 'Rs. 559Rs. 699(20% OFF)',
 'Rs. 798Rs. 3990(80% OFF)',
 'Rs. 799Rs. 3995(80% OFF)',
 'Rs. 845Rs. 1690(50% OFF)',
 'Rs. 699Rs. 999(30% OFF)',
 'Rs. 851Rs. 1548(45% OFF)',
 'Rs. 1574Rs. 1699(Rs. 125 OFF)',
 'Rs. 796Rs. 1990(60% OFF)',
 'Rs. 2034Rs. 3699(45% OFF)',
 'Rs. 851Rs. 1548(45% OFF)',
 'Rs. 3054Rs. 4699(35% OFF)',
 'Rs. 2404Rs. 3699(35% OFF)',
 'Rs. 899Rs. 999(10% OFF)',
 'Rs. 499Rs. 999(50% OFF)',
 'Rs. 2999',
 'Rs. 799Rs. 3995(80% OFF)',
 'Rs. 559Rs. 699(20% OFF)',
 'Rs. 1574Rs. 1699(Rs. 125 OFF)',
 'Rs. 799Rs. 1999(Rs. 1200 OFF)',
 'Rs. 794Rs. 1499(47% OFF)']

In [315]:
next_btn= driver.find_element (By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a')
next_btn

In [316]:
next_btn.click()

In [334]:
name_tags2 = driver.find_elements (By.XPATH,'//h3[@class="product-brand"]')
len (name_tags2)

50

In [335]:
brand_tags2 = []
for i in name_tags2:
    brand_tags2.append(i.text)
len (brand_tags2)

50

In [336]:
brand_tags2

['ASIAN',
 'HIGHLANDER',
 'Duke',
 'Duke',
 'AfroJack',
 'Duke',
 'ASIAN',
 'ASIAN',
 'Duke',
 'Carlton London',
 'AfroJack',
 'AfroJack',
 'HIGHLANDER',
 'HIGHLANDER',
 'Shoetopia',
 'Mactree',
 'Campus',
 'Mactree',
 'Denill',
 'Fentacia',
 'Bata',
 'ASICS',
 'HIGHLANDER',
 'Sparx',
 'HIGHLANDER',
 'HIGHLANDER',
 'ASIAN',
 'Duke',
 'AfroJack',
 'TimberWood',
 'Fentacia',
 'Sparx',
 'Sherrif Shoes',
 'TRASE',
 'RINDAS',
 'CLYMB',
 'Sparx',
 'BERSACHE',
 'ASIAN',
 'BERSACHE',
 'Duke',
 'Duke',
 'HIGHLANDER',
 'Campus',
 'AfroJack',
 'Red Chief',
 'Denill',
 'Mactree',
 'Mactree',
 'ZAPATOZ']

In [319]:
des_tags2= driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
len (des_tags2)

50

In [320]:
 desc_tags2= []
for i in des_tags2:
    desc_tags2.append(i.text)
len (desc_tags2)

50

In [321]:
desc_tags2

['Women Running Shoes',
 'Men Driving Shoes',
 'Women Running Shoes',
 'Women Running Shoes',
 'Women Running Shoes',
 'Men Running Shoes',
 'Women Running Shoes',
 'Women Running Shoes',
 'Women Running Shoes',
 'Men Driving Shoes',
 'Women Running Shoes',
 'Women Running Shoes',
 'Men Driving Shoes',
 'Men Driving Shoes',
 'Women Walking Shoes',
 'Men Walking Shoes',
 'Men Running Shoes',
 'Men Walking Shoes',
 'Women Running Shoes',
 'Men Driving Shoes',
 'Women Boat Shoes',
 'Women Sports Shoes',
 'Men Colourblocked Driving Shoes',
 'Women Running Shoes',
 'Men Driving Shoes',
 'Men Driving Shoes',
 'Men Running Shoes',
 'Women Running Shoes',
 'Women Running Shoes',
 'Women Walking Shoes',
 'Men Driving Shoes',
 'Men Running Shoes',
 'Embellished Sandals',
 'Men Running Shoes',
 'Women Walking Shoes',
 'Men Running Shoes',
 'Men Running Shoes',
 'Men Running Shoes',
 'Women Driving Shoes',
 'Men Running Shoes',
 'Women Running Shoes',
 'Women Running Shoes',
 'Men Driving Shoes',
 'Men Running Shoes',
 'Women Running Shoes',
 'Formal Shoes',
 'Women Running Shoes',
 'Men Walking Shoes',
 'Men Walking Shoes',
 'Women Walking Shoes']

In [322]:
rate_tags2 = driver.find_elements(By.XPATH,'//div[@class="product-price"]')
len (rate_tags2)

50

In [323]:
price_tags2= []
for i in rate_tags2:
    price_tags2.append(i.text)
len (price_tags2)

50

In [329]:
price_tags2

['Rs. 794Rs. 1499(47% OFF)',
 'Rs. 696Rs. 1548(55% OFF)',
 'Rs. 908Rs. 2595(65% OFF)',
 'Rs. 908Rs. 2595(65% OFF)',
 'Rs. 799Rs. 3995(80% OFF)',
 'Rs. 1478Rs. 3695(60% OFF)',
 'Rs. 649Rs. 999(35% OFF)',
 'Rs. 569Rs. 599(5% OFF)',
 'Rs. 908Rs. 2595(65% OFF)',
 'Rs. 1574Rs. 3499(55% OFF)',
 'Rs. 799Rs. 3995(80% OFF)',
 'Rs. 799Rs. 3995(80% OFF)',
 'Rs. 851Rs. 1548(45% OFF)',
 'Rs. 851Rs. 1548(45% OFF)',
 'Rs. 749Rs. 999(25% OFF)',
 'Rs. 798Rs. 3990(80% OFF)',
 'Rs. 1749Rs. 1999(Rs. 250 OFF)',
 'Rs. 744Rs. 3720(80% OFF)',
 'Rs. 699Rs. 999(30% OFF)',
 'Rs. 944Rs. 4499(79% OFF)',
 'Rs. 1189Rs. 1699(30% OFF)',
 'Rs. 13999',
 'Rs. 696Rs. 1990(65% OFF)',
 'Rs. 1099',
 'Rs. 696Rs. 1548(55% OFF)',
 'Rs. 851Rs. 1548(45% OFF)',
 'Rs. 559Rs. 699(20% OFF)',
 'Rs. 908Rs. 2595(65% OFF)',
 'Rs. 838Rs. 3995(79% OFF)',
 'Rs. 619Rs. 999(38% OFF)',
 'Rs. 944Rs. 4499(79% OFF)',
 'Rs. 986Rs. 1049(6% OFF)',
 'Rs. 1977Rs. 4395(55% OFF)',
 'Rs. 749Rs. 999(25% OFF)',
 'Rs. 499Rs. 1499(Rs. 1000 OFF)',
 'Rs. 609Rs. 999(39% OFF)',
 'Rs. 1478Rs. 1699(13% OFF)',
 'Rs. 4999',
 'Rs. 579Rs. 999(42% OFF)',
 'Rs. 4999',
 'Rs. 908Rs. 2595(65% OFF)',
 'Rs. 908Rs. 2595(65% OFF)',
 'Rs. 851Rs. 1548(45% OFF)',
 'Rs. 1119Rs. 1499(Rs. 380 OFF)',
 'Rs. 799Rs. 3995(80% OFF)',
 'Rs. 2249Rs. 4499(50% OFF)',
 'Rs. 699Rs. 999(30% OFF)',
 'Rs. 798Rs. 3990(80% OFF)',
 'Rs. 798Rs. 3990(80% OFF)',
 'Rs. 599Rs. 999(40% OFF)']

In [337]:
len(brand_tags+brand_tags2 ),len(desc_tags+desc_tags2),len(price_tags+price_tags2)

(100, 100, 100)

In [338]:
Shoes =  pd.DataFrame()
Shoes[' Brand'] =brand_tags+brand_tags2 
Shoes['Description'] =desc_tags+desc_tags2
Shoes['Price'] =price_tags+price_tags2
Shoes

        Brand             Description                         Price
0        Puma  Men Lex Training Shoes     Rs. 4799Rs. 5999(20% OFF)
1      Campus       Men Running Shoes  Rs. 949Rs. 1049(Rs. 100 OFF)
2      Campus       Men Running Shoes  Rs. 899Rs. 1049(Rs. 150 OFF)
3      Campus       Men Running Shoes   Rs. 979Rs. 1049(Rs. 70 OFF)
4    Woodland            Casual Shoes     Rs. 3116Rs. 3895(20% OFF)
..        ...                     ...                           ...
95  Red Chief            Formal Shoes     Rs. 2249Rs. 4499(50% OFF)
96     Denill     Women Running Shoes       Rs. 699Rs. 999(30% OFF)
97    Mactree       Men Walking Shoes      Rs. 798Rs. 3990(80% OFF)
98    Mactree       Men Walking Shoes      Rs. 798Rs. 3990(80% OFF)
99    ZAPATOZ     Women Walking Shoes       Rs. 599Rs. 999(40% OFF)

[100 rows x 3 columns]

In [365]:
#Ques no 8
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [366]:
driver = webdriver.Chrome(r'C:\Users\BHAVYA OJHA\OneDrive\Documents\Downloads\chromedriver_win32 (2)\chromedriver.exe')

In [367]:
url='https://www.amazon.in/'
driver.get(url)

In [368]:
from selenium.webdriver.common.by import By

In [383]:
laptop_tags = driver.find_elements (By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
len (laptop_tags)

24

In [384]:
title_tags = []
for i in laptop_tags:
    title_tags.append(i.text)
len (title_tags)

24

In [385]:
title_tags

['Lenovo Ideapad 3 AMD Ryzen 5 5500U 15.6" FHD Thin & Light Laptop (8GB/512GB SSD/Windows 11/Office 2021/Backlit Keyboard/2Yr Warranty/Arctic Grey/1.65Kg), 82KU017KIN',
 'Lenovo IdeaPad 3 11th Gen Intel Core i3 15.6" FHD Thin & Light Laptop(8GB/512GB SSD/Windows 11/Office 2021/2Yr Warranty/3months Xbox Game Pass/Platinum Grey/1.7Kg), 81X800LGIN',
 'ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) HD, Dual Core Intel Celeron N4020, Thin and Light Laptop (4GB RAM/256GB SSD/Integrated Graphics/Windows 11 Home/Transparent Silver/1.8 Kg), X515MA-BR011W',
 'Lenovo IdeaPad Slim 3 Intel Celeron N4020 15.6" (39.62cm) HD Thin & Light Laptop (8GB/256GB SSD/Windows 11/Office 2021/2Yr Warranty/3months Game Pass/Platinum Grey/1.7Kg), 81WQ00MQIN',
 "Dell New Inspiron 3525 Laptop, AMD Athlon Silver 3050U, Windows 11 + Office'21, 8Gb Gddr4, 256Gb Ssd, Radeon Graphics, 15.6 Inches (39.62Cms) Hd Anti Glare (D560766Win9Be, 1.68Kgs)",
 'HP Chromebook Intel Celeron N4120 35.6cm(14 inches) Micro-Edge, Touchscreen Laptop (4GB RAM/64GB eMMC/Chrome 64/UHD Graphics,1.49kg), 14a-ca0504TU',
 "Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6'' (29.46cm) HD Thin & Light Laptop (4GB/256GB SSD/Windows 11/Office 2021/3months Game Pass/Platinum Grey/1.2Kg), 81VT009UIN",
 'Acer Aspire 3 AMD 3020e Dual core Processor 14 inches (35.5 cm) Laptop (4GB RAM/256GB SSD/Windows 11 Home/Black/1.9 Kg, A314-22)',
 'HP NB 255 G8 Laptop (AMD Ryzen 3-3250U/8GB DDR4 Ram/1TB HDD/15.6 inch HD/Windows 11/AMD Radeon Vega 8 Graphics/Dark Ash Silver/1.74Kg) 64Q84PA#ACJ',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD, Intel Core i3-1005G1 10th Gen, Thin and Light Laptop (8GB/1TB HDD/Windows 11/Integrated Graphics/Grey/1.6 kg), X415JA-BV301W',
 'Acer Aspire 3 AMD 3020e Dual core Processor 14 inches (35.5 cm) HD Display Laptop (4GB DDR4 RAM / 1TB HDD / Windows 11 Home/ Black /Narrow Bezel / 1.9 Kg, A314-22)',
 'Hp 15S 11Th Gen Intel Core I5 15.6 Inches Fhd Anti-Glare Display Laptop (8Gb Ram/512Gb Ssd Micro-Edge/Iris Xe Graphics/Backlit Keyboard/Windows 11 Home/Alexa/Dual Speakers/Mso, 15S- Fq4021Tu, 1.69Kg)',
 'Hp 14S, 11Th Gen Intel Core I3, 8Gb Ram/512Gb Ssd 14 Inches (35.6 cm) Fhd,Micro-Edge, IPS Display/Alexa Built-in/Windows 11 Home/Backlit Keyboard/Uhd Graphics/Dual Speakers/Ms Office, 14S-Dq2606Tu',
 'Lenovo Ideapad 3 AMD Ryzen 5 5500U 15.6" FHD Thin & Light Laptop (8GB/512GB SSD/Windows 11/Office 2021/Backlit Keyboard/2Yr Warranty/Arctic Grey/1.65Kg), 82KU017KIN',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i5-10300H 10th Gen, GTX 1650 4GB Graphics, Gaming Laptop (8GB RAM/512GB NVMe SSD/Windows 11/Black/2.30 Kg), FX506LH-HN258W',
 'Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 14" (35.56cm) FHD Thin & Light Laptop (8GB/256GB SDD/Windows 11/Office 2021/2Yr Warranty/3months Game Pass/Platinum Grey/1.5Kg), 81X700CWIN',
 'Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 15.6" (39.62cm) FHD Thin & Light Laptop (8GB/512GB SSD/Windows 11/Office 2021/2Yr Warranty/3months Game Pass/Arctic Grey/1.65Kg), 82H802FJIN',
 'Lenovo IdeaPad Slim 3 Intel Core i3 10th Gen 15.6" (39.62cm) HD Thin & Light Laptop (8GB/512GB SSD/Windows 11/Office 2021/2Yr Warranty/3months Game Pass/Platinum Grey/1.85Kg), 81WE01QLIN',
 'HP 14s, 5th Gen AMD Ryzen 3- 8GB RAM/512GB SSD 14 inches Laptop, FHD IPS Micro-Edge Display/ Backlit Keyboard/Alexa/Windows 11/Fast Charge/Radeon Graphics/1.46Kg/Natural Silver) -14s-fq1089AU',
 'Fujitsu CH Intel Evo Core i5 11th Gen 13.3” FHD OLED 400Nits Thin & Light Laptop(16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit/2Yr Warranty/Dark Grey/1.1Kg),4ZR1H03552',
 'HP 14s, AMD Ryzen 5-5500U 14 inch( 35.6 cm) FHD, IPS, Micro-Edge Display Laptop (8GB RAM/512GB SSD /Radeon Graphics/Windows 11/Alexa/Backlit Keyboard/MS Office/1.46kg, 14s-fq1092au)',
 'Fujitsu UH-X 11th Gen Intel Core i5 13.3” FHD IPS 400Nits Thin & Light Laptop(16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/Fingerprint Reader/2Yr Warranty/Black/878gms),4ZR1F38022',
 'HP Chromebook 14 Intel Celeron N4020-4GB SDRAM/64GB eMMC + 256GB Expandable Storage 14inch(35.6 cm) Thin & Light Touchscreen Laptop (Chrome OS/B&O/Google Assistant/BL Keyboard/1.46 kg),14a-na0003TU',
 'MSI Gaming Katana GF66, Intel 12th Gen. i7-12700H, 15.6" FHD 144Hz Gaming Laptop (16GB/1TB NVMe SSD/Windows 11 Home/Nvidia RTX 3060 6GB GDDR 6/ Black/2.25Kg), 12UE-262IN']

In [387]:
laptop_tags2 = driver.find_elements (By.XPATH,'//div[@class="a-section a-spacing-none a-spacing-top-small s-title-instructions-style"]')
len (laptop_tags2)

3

In [388]:
title_tags2 = []
for i in laptop_tags2:
    title_tags2.append(i.text)
len (title_tags2)

3

In [389]:
title_tags2

['Lenovo IdeaPad Slim 5i 11th Gen Intel Core i5 15.6" FHD IPS Thin, Light Laptop (8GB/1TB HDD+256GB SSD/Windows10/Office19/MX450 2GB GDDR6/Fingerprint/Graphite Grey/Aluminium Surface/1.66Kg) 82FG00BPIN',
 'Dell Inspiron 3593 Intel 10th Gen Ci5-1035G1 15.6 Inches Laptop (8GB/1TB HDD + 256GB SSD/Windows 10 Home /NVIDIA 2GBMX 230 Graphics, Platinum Silver)',
 '']

In [352]:
rate_tags = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
len(rate_tags)

27

In [353]:
price_tags  = []
for i in rate_tags :
    price_tags.append(i.text)
len (price_tags )

27

In [354]:
price_tags

['46,030',
 '36,990',
 '25,990',
 '2,24,754',
 '28,980',
 '25,253',
 '69,900',
 '71,300',
 '',
 '29,490',
 '22,990',
 '24,990',
 '31,650',
 '29,488',
 '28,990',
 '28,899',
 '57,999',
 '52,950',
 '47,034',
 '41,990',
 '57,990',
 '38,990',
 '69,990',
 '47,034',
 '74,990',
 '27,500',
 '84,990']

In [390]:
star_tags = driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
len(star_tags)

27

In [356]:
rating_tags  = []
for i in star_tags:
    rating_tags  .append(i.text)
len (rating_tags )

27

In [391]:
rating_tags

['689',
 '287',
 '1,413',
 '33',
 '16',
 '12',
 '280',
 '167',
 '',
 '164',
 '123',
 '396',
 '168',
 '18',
 '111',
 '117',
 '1,353',
 '297',
 '724',
 '131',
 '278',
 '3,628',
 '10',
 '724',
 '90',
 '1,218',
 '85']

In [392]:
len(title_tags+ title_tags2),len(price_tags ),len(rating_tags)

(27, 27, 27)

In [393]:
laptops =  pd.DataFrame()
laptops[' Title'] =title_tags+title_tags2
laptops['Price'] =price_tags
laptops['Ratings'] =rating_tags
laptops[:10]

                                               Title     Price Ratings
0  Lenovo Ideapad 3 AMD Ryzen 5 5500U 15.6" FHD T...    46,030     689
1  Lenovo IdeaPad 3 11th Gen Intel Core i3 15.6" ...    36,990     287
2  ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...    25,990   1,413
3  Lenovo IdeaPad Slim 3 Intel Celeron N4020 15.6...  2,24,754      33
4  Dell New Inspiron 3525 Laptop, AMD Athlon Silv...    28,980      16
5  HP Chromebook Intel Celeron N4120 35.6cm(14 in...    25,253      12
6  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...    69,900     280
7  Acer Aspire 3 AMD 3020e Dual core Processor 14...    71,300     167
8  HP NB 255 G8 Laptop (AMD Ryzen 3-3250U/8GB DDR...
9  ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD...    29,490     164

In [394]:
#QUES NO 10 
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [417]:
driver = webdriver.Chrome(r'C:\Users\BHAVYA OJHA\OneDrive\Documents\Downloads\chromedriver_win32 (2)\chromedriver.exe')

In [418]:
url='https://www.ambitionbox.com/'
driver.get(url)

In [419]:
from selenium.webdriver.common.by import By

In [420]:
name_tags = driver.find_elements (By.XPATH,'//span[@class="jp"]')
len (name_tags)

10

In [421]:
name_title = []
for i in name_tags:
    name_title.append(i.text)
len (name_title)

10

In [422]:
name_title

['Data Scientist Salary',
 'Data Scientist Salary',
 'Data Scientist Salary',
 'Data Scientist Salary',
 'Data Scientist Salary',
 'Data Scientist Salary',
 'Data Scientist Salary',
 'Data Scientist Salary',
 'Data Scientist Salary',
 'Data Scientist Salary']

In [423]:
avg_tags = driver.find_elements (By.XPATH,'//p[@class="averageCtc"]')
len (avg_tags)

10

In [424]:
avg_sal = []
for i in avg_tags:
    avg_sal.append(i.text)
len (avg_sal)

10

In [425]:
avg_sal

['₹ 30.6L',
 '₹ 20.8L',
 '₹ 16.7L',
 '₹ 15.9L',
 '₹ 15.7L',
 '₹ 15.5L',
 '₹ 14.8L',
 '₹ 14.0L',
 '₹ 13.2L',
 '₹ 12.8L']

In [426]:
min_tags = driver.find_elements (By.XPATH,'//div[@class="salary-values"]')
len (min_tags)

10

In [427]:
sal_tags = []
for i in min_tags:
    sal_tags.append(i.text)
len (sal_tags)

10

In [428]:
sal_tags

['₹ 25.0L\n₹ 36.0L',
 '₹ 15.0L\n₹ 26.2L',
 '₹ 11.0L\n₹ 22.0L',
 '₹ 11.0L\n₹ 22.5L',
 '₹ 5.6L\n₹ 26.2L',
 '₹ 10.0L\n₹ 23.0L',
 '₹ 9.0L\n₹ 20.0L',
 '₹ 8.3L\n₹ 21.1L',
 '₹ 7.6L\n₹ 21.0L',
 '₹ 7.0L\n₹ 25.0L']

In [429]:
data_tags = driver.find_elements (By.XPATH,'//span[@class="datapoints"]')
len (data_tags)

10

In [430]:
record_tags = []
for i in data_tags:
    record_tags.append(i.text)
len (record_tags)

10

In [431]:
record_tags

['(based on 12 salaries)',
 '(based on 33 salaries)',
 '(based on 15 salaries)',
 '(based on 32 salaries)',
 '(based on 21 salaries)',
 '(based on 89 salaries)',
 '(based on 51 salaries)',
 '(based on 57 salaries)',
 '(based on 21 salaries)',
 '(based on 69 salaries)']

In [432]:
len(name_title),len(avg_sal),len(sal_tags),len(record_tags)

(10, 10, 10, 10)

In [433]:
data =  pd.DataFrame()
data['company name,'] =name_title
data['Average salary'] =avg_sal
data['Salary'] =sal_tags
data['Total records'] = record_tags
data

,"company name,",Average salary,Salary,Total records
0,Data Scientist Salary,₹ 30.6L,₹ 25.0L\n₹ 36.0L,(based on 12 salaries)
1,Data Scientist Salary,₹ 20.8L,₹ 15.0L\n₹ 26.2L,(based on 33 salaries)
2,Data Scientist Salary,₹ 16.7L,₹ 11.0L\n₹ 22.0L,(based on 15 salaries)
3,Data Scientist Salary,₹ 15.9L,₹ 11.0L\n₹ 22.5L,(based on 32 salaries)
4,Data Scientist Salary,₹ 15.7L,₹ 5.6L\n₹ 26.2L,(based on 21 salaries)
5,Data Scientist Salary,₹ 15.5L,₹ 10.0L\n₹ 23.0L,(based on 89 salaries)
6,Data Scientist Salary,₹ 14.8L,₹ 9.0L\n₹ 20.0L,(based on 51 salaries)
7,Data Scientist Salary,₹ 14.0L,₹ 8.3L\n₹ 21.1L,(based on 57 salaries)
8,Data Scientist Salary,₹ 13.2L,₹ 7.6L\n₹ 21.0L,(based on 21 salaries)
9,Data Scientist Salary,₹ 12.8L,₹ 7.0L\n₹ 25.0L,(based on 69 salaries)

In [489]:
#QUES NO 09
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [490]:
driver = webdriver.Chrome(r'C:\Users\BHAVYA OJHA\OneDrive\Documents\Downloads\chromedriver_win32 (2)\chromedriver.exe')

In [491]:
url='https://www.ambitionbox.com/'
driver.get(url)

In [492]:
from selenium.webdriver.common.by import By

In [493]:
search_jobs = driver.find_element(By.XPATH,'/html/body/section[1]/div/div[2]/form/span/input')
search_jobs

In [494]:
search_jobs.send_keys('Data Scientist')

In [495]:
search_btn= driver.find_element (By.XPATH,'/html/body/section[1]/div/div[2]/form/div[2]/input')
search_btn

In [496]:
search_btn.click()

In [499]:
search_locn= driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[3]/div[1]/div/div/div/div[5]/div[2]/div/div[2]/input')
search_locn

In [500]:
search_locn.send_keys(' Noida')

In [504]:
title_tags = driver.find_elements (By.XPATH,'//div[@class="name"]')
len (title_tags)

10

In [505]:
name_titles = []
for i in title_tags:
    name_titles.append(i.text)
len (name_titles)

10

In [506]:
name_titles

['TCS\nData Scientist Salary',
 'Accenture\nData Scientist Salary',
 'IBM\nData Scientist Salary',
 'Cognizant\nData Scientist Salary',
 'Capgemini\nData Scientist Salary',
 'Infosys\nData Scientist Salary',
 'Wipro\nData Scientist Salary',
 'Tech Mahindra\nData Scientist Salary',
 'Fractal Analytics\nData Scientist Salary',
 'Deloitte\nData Scientist Salary']

In [1]:
data_tags = driver.find_elements (By.XPATH,'//[@class="salary-datapoints"]')
len (data_tags)

NameError: name 'driver' is not defined

In [508]:
record_titles = []
for i in data_tags:
    record_titles.append(i.text)
len (record_titles)

10

In [509]:
record_titles

['(841 Salaries)',
 '(501 Salaries)',
 '(394 Salaries)',
 '(318 Salaries)',
 '(300 Salaries)',
 '(228 Salaries)',
 '(225 Salaries)',
 '(218 Salaries)',
 '(166 Salaries)',
 '(163 Salaries)']

In [510]:
sal_tags = driver.find_elements (By.XPATH,'//div[@class="result-col salary-range"]')
len (sal_tags)

10

In [511]:
salary_tags = []
for i in sal_tags:
    salary_tags.append(i.text)
len (salary_tags)

10

In [512]:
salary_tags

['₹ 7.8L\n₹ 4.5L\n₹ 16.0L',
 '₹ 12.8L\n₹ 5.8L\n₹ 23.0L',
 '₹ 13.4L\n₹ 5.3L\n₹ 25.0L',
 '₹ 9.8L\n₹ 5.0L\n₹ 18.0L',
 '₹ 8.6L\n₹ 4.8L\n₹ 14.6L',
 '₹ 9.3L\n₹ 4.5L\n₹ 24.0L',
 '₹ 9.7L\n₹ 4.5L\n₹ 18.2L',
 '₹ 7.6L\n₹ 4.1L\n₹ 15.4L',
 '₹ 15.9L\n₹ 10.0L\n₹ 23.0L',
 '₹ 14.2L\n₹ 7.0L\n₹ 25.0L']

In [513]:
len(name_titles),len(record_titles),len(salary_tags)

(10, 10, 10)

In [514]:
jobs =  pd.DataFrame()
jobs['Company Name']=name_titles
jobs['Total Record'] =record_titles
jobs['Salary'] =salary_tags
jobs

,Company Name,Total Record,Salary
0,TCS\nData Scientist Salary,(841 Salaries),₹ 7.8L\n₹ 4.5L\n₹ 16.0L
1,Accenture\nData Scientist Salary,(501 Salaries),₹ 12.8L\n₹ 5.8L\n₹ 23.0L
2,IBM\nData Scientist Salary,(394 Salaries),₹ 13.4L\n₹ 5.3L\n₹ 25.0L
3,Cognizant\nData Scientist Salary,(318 Salaries),₹ 9.8L\n₹ 5.0L\n₹ 18.0L
4,Capgemini\nData Scientist Salary,(300 Salaries),₹ 8.6L\n₹ 4.8L\n₹ 14.6L
5,Infosys\nData Scientist Salary,(228 Salaries),₹ 9.3L\n₹ 4.5L\n₹ 24.0L
6,Wipro\nData Scientist Salary,(225 Salaries),₹ 9.7L\n₹ 4.5L\n₹ 18.2L
7,Tech Mahindra\nData Scientist Salary,(218 Salaries),₹ 7.6L\n₹ 4.1L\n₹ 15.4L
8,Fractal Analytics\nData Scientist Salary,(166 Salaries),₹ 15.9L\n₹ 10.0L\n₹ 23.0L
9,Deloitte\nData Scientist Salary,(163 Salaries),₹ 14.2L\n₹ 7.0L\n₹ 25.0L

In [1]:
#QUES NO 05
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver = webdriver.Chrome(r'C:\Users\BHAVYA OJHA\OneDrive\Documents\Downloads\chromedriver_win32 (2)\chromedriver.exe')

In [3]:
url='https://www.flipkart.com/'
driver.get(url)

In [6]:
from selenium.webdriver.common.by import By

In [7]:
search_phone = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_phone

In [10]:
search_phone.send_keys('iphone 11 ')

In [13]:
search_btn= driver.find_element (By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [14]:
search_btn.click()

In [31]:
title_tags = driver.find_elements (By.XPATH,'//div[@class="row"]')
len (title_tags)

1