In [12]:
#QUES NO 1
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
import re

In [18]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(6)
driver.maximize_window()
from selenium.webdriver.common.by import By

In [21]:
#Creating blank list
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

#Scraping Rank
rank=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
for i in rank:
    Rank.append(i.text)

#Scraping Name
name=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
for i in name:
    Name.append(i.text)
    
#Scraping Artist
artist=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
for i in artist:
    Artist.append(i.text)
    
    
#Scraping Views
views=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
for i in views:
    Views.append(i.text)
    
    
#Scraping Upload_date
upload_date=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
for i in upload_date:
    Upload_date.append(i.text)
    
Youtube_viewed=pd.DataFrame({})
Youtube_viewed['Rank']=Rank
Youtube_viewed['Name']=Name
Youtube_viewed['Artist']=Artist
Youtube_viewed['Upload_date']=Upload_date
Youtube_viewed['Views']=Views
Youtube_viewed

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.05
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.93
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.40
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.77
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.59
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.54
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.77
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.65
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.60
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.50
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.50
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.24
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",4.00
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.74
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.63
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.62
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.57
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.48
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.45
19,20.,"""Dark Horse""[38]",Katy Perry,"February 20, 2014",3.32
20,21.,"""Girls Like You""[39]",Maroon 5,"May 31, 2018",3.32
21,22.,"""Faded""[40]",Alan Walker,"December 3, 2015",3.32
22,23.,"""Baa Baa Black Sheep""[41]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.31
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.27
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.25
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.24
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.22
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.21
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.19
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.11

In [69]:
#QUES NO 02 
driver=webdriver.Chrome("chromedriver.exe") 

url = "https://www.bcci.tv/"
driver.get(url)
driver.maximize_window()
from selenium.webdriver.common.by import By

In [52]:
#Creating Empty list
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

#Scraping Match_title
match_title= driver.find_elements(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[1]/div/div[1]/h5[2]/span")
for i in match_title:
    Match_title.append(i.text)
    
#Scraping Series
series= driver.find_elements(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[1]/div/div[4]/div/span[2]")
for i in series:
    Series.append(i.text)
    
#Scraping Place
place= driver.find_elements(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[1]/div/div[4]/div")
for i in place:
    Place.append(i.text)   
    
#Scraping Date
date= driver.find_elements(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[1]/div/div[1]/div")
for i in date:
    Date.append(i.text)   
    


Fixture=pd.DataFrame({})
Fixture['Match_title']=Match_title
Fixture['Series']=Series
Fixture['Place']=Place
Fixture['Date']=Date
Fixture

,Match_title,Series,Place,Date
0,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,"Harare Sports Club,","1st ODI - Harare Sports Club, Harare",18 AUG 2022\n12:45 PM IST

In [5]:
#QUES NO 4
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
import re
from selenium.webdriver.common.by import By

In [6]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(4)
driver.maximize_window()

C:\Users\BHAVYA OJHA\AppData\Local\Temp\ipykernel_16836\2848808550.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome("chromedriver.exe")

In [9]:

#Click Economy
Economy=driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/button")
Economy.click()

#Click India
India= driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/div/a[3]")
India.click()

In [10]:

#Creating empty list
Rank=[]
State=[]
GSDP_at_current_price_19_20=[]
GSDP_at_current_price_18_19=[]
Share_18_19=[]
GDP_billion=[]

#Scraping Rank
rank= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
for i in rank:
    if i.text is None:
        Rank.append('--')
    else:
        Rank.append(i.text)
        
#Scraping State
state= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
for i in state:
    if i.text is None:
        State.append('--')
    else:
        State.append(i.text)
                
#Scraping GSDP_at_current_price_19_20
gSDP_at_current_price_19_20= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
for i in gSDP_at_current_price_19_20:
    if i.text is None:
        GSDP_at_current_price_19_20.append('--')
    else:
        GSDP_at_current_price_19_20.append(i.text)
        
#Scraping GSDP_at_current_price_18_19
gSDP_at_current_price_18_19= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
for i in gSDP_at_current_price_18_19:
    if i.text is None:
        GSDP_at_current_price_18_19.append('--')
    else:
        GSDP_at_current_price_18_19.append(i.text)
        
#Scraping Share_18_19
share_18_19= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
for i in share_18_19:
    if i.text is None:
        Share_18_19.append('--')
    else:
        Share_18_19.append(i.text)
        
#Scraping GDP_billion
gDP_billion= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
for i in gDP_billion:
    if i.text is None:
        GDP_billion.append('--')
    else:
        GDP_billion.append(i.text)
        
# creating dataframe
GDP_India=pd.DataFrame({})
GDP_India['Rank']=Rank
GDP_India['State']=State
GDP_India['GSDP_at_current_price_19_20']=GSDP_at_current_price_19_20
GDP_India['GSDP_at_current_price_18_19']=GSDP_at_current_price_18_19
GDP_India['Share_18_19']=Share_18_19
GDP_India['GDP_billion']=GDP_billion
GDP_India

,Rank,State,GSDP_at_current_price_19_20,GSDP_at_current_price_18_19,Share_18_19,GDP_billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [31]:
#QUES NO 7
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.naukri.com/recruiters/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

C:\Users\BHAVYA OJHA\AppData\Local\Temp\ipykernel_16836\3951893907.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome("chromedriver.exe")

In [33]:
search=driver.find_element(By.XPATH,"//input[@class='sugInp']")
search.send_keys('Data Science')

search_btn=driver.find_element(By.XPATH,"//button[@class='fl qsbSrch blueBtn']")
search_btn.click()

In [40]:

#Creating emepty list
Name=[]
Designation=[]
Company=[]
Skills_they_hire=[]
Location=[]


#Scraping Name 
name=driver.find_elements(By.XPATH,"//span[@class='fl ellipsis']")
for i  in name:
    Name.append(i.text)
    
#Scraping Designation 
designation=driver.find_elements(By.XPATH,"//span[@class='ellipsis clr']")
for i  in designation:
    Designation.append(i.text)    
    
#Scraping Company 
company=driver.find_elements(By.XPATH,"//span[@class='highlightable']/a[2]")
for i  in company:
    Company.append(i.text)   
    
    
#Scraping Skills_they_hire 
skills_they_hire=driver.find_elements(By.XPATH,"//div[@class='hireSec highlightable']")
for i  in skills_they_hire:
    Skills_they_hire.append(i.text)
    

    
#Scraping Location 
location=driver.find_elements(By.XPATH,"//p[@class='highlightable']/span[2]")
for i  in location:
    if i.text is None:
        
        Location.append('--')
    else:
        Location.append(i.text)
    
    

Recruiters=pd.DataFrame({})
Recruiters['Name']= Name[0:49]
Recruiters['Designation']= Designation[0:49]
Recruiters['Skills_they_hire']= Skills_they_hire[0:49]
Recruiters

,Name,Designation,Skills_they_hire
0,Aakash Harit,HR Manager,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,Programme Manager,Data Science
7,Balu Ramesh,HR Administrator,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Director,"Technical Training, Software Development, Pres..."
9,InstaFinancials,Human Resource,"Software Development, It Sales, Account Manage..."
10,Vaishnavi Kudalkar,HR Executive,"Data Science, Python, Data Analytics"
11,Priyanka Akiri,HR Manager,"Oracle Dba, Data Science, Data Warehousing, ET..."
12,Kalpana Dumpala,Executive Hiring,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
13,Mubarak,Company HR,"Business Intelligence, Data Warehousing, Data ..."
14,Kushal Rastogi,Company HR,"Office Administration, Hr Administration, tele..."
15,Mahesh Babu Channa,HR Team Lead,"Social Media, digital media maketing, seo, smm..."
16,Kapil Devang,HR Manager,"Big Data, Hadoop, Data Analytics, Data Science"
17,Sakshi Chhikara,Assistant Manager HR,"React.js, Data Science, Java, Front End, Busin..."
18,Ruchi Dhote,Senior Executive Talent Acquisition,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
19,Manisha Yadav,HR Executive,"Telecalling, Client Interaction, Marketing, Re..."
20,Riya Rajesh,Manager Talent Acquisition,Data Science
21,Rashmi Bhattacharjee,HR Head,"Corporate Sales, Software Development, Softwar..."
22,Faizan Kareem,HR MANAGER,"Data Analytics, Data Science, Machine Learning..."
23,Rithika dadwal,HR Recruiter,"Data Science, Machine Learning, Python, R, Dee..."
24,Sandhya Khandagale,HR Recruiter,"Big Data, Data Science, Artificial Intelligenc..."
25,Shaun Rao,Manager Human Resources,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
26,Azahar Shaikh,Company Recruiter,"Data Science, Artificial Intelligence, Machine..."
27,Manas,Lead Talent acquisition,"Software Architecture, Vp Engineering, Product..."
28,kumar,Proprietor,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
29,Sunil Vedula,CEO,"Signal Processing, Machine Learning, Neural Ne..."
30,Rajat Kumar,Founder CEO,"Web Technologies, Project Management, Software..."
31,Dhruv Dev Dubey,Company Recruitment Head,"Server Administartion, Verilog, Vhdl, Digital ..."
32,Jayanth N,Project Manager,"Data Analytics, Managed Services, Team Leading..."
33,Avodha,Business Development Associate,"Ethical Hacking, Security Operations Center, S..."
34,Priya Khare,Senior Manager,"Data Science, Artificial Intelligence, analyti..."
35,Amit Sharma,Consultant,"Machine Learning, Artificial Intelligence, Dat..."
36,Kanan,senior technology instructor,"C, C++, Artificial Intelligence, Python, Php, ..."
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,"Relationship Management, Retail Sales, Private..."
38,Brad,"Manager, Technical Recruiting","Data Science, Software Engineering"
39,Rutuja Pawar,Technical Recruiter,"Data Science, Big Data Analytics, Digital Mark..."
40,Madhusudhan Sridhar,Erp Implementer,"Data Science, Recruitment, Salary"
41,Ankit Sinha,Head Analytics,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
42,Gaurav Chouhan,Chief Technical Officer,"Software Development, Business Intelligence, B..."
43,Rashi Kacker,Sr Product Manager,"Data Science, Node.js, Angularjs"
44,Ashwini,Director Global Delivery,"Data Science, Media Marketing, Resource Planni..."
45,Balaji Kolli,Co Founder,"Data Analysis, Learning, Data Science, Compute..."
46,Rajani Nagaraj,HR Manager,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
47,ROHIT Kumar,Architect,"Software Development, Core Java, Unit Testing,..."
48,Amir Chowdhury,Managing Partner,"Machine Learning, Data Science, Product Manage..."

In [41]:
Location

['Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Ahmedabad',
 'UK - (london)',
 'Vadodara / Baroda',
 'Chennai',
 'Trivandrum',
 'Indore',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Hyderabad',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Hyderabad / Secunderabad',
 'Bhopal',
 'Chandigarh',
 'Pune',
 'Navi Mumbai',
 'Cochin',
 'Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Delhi',
 'Bengaluru / Bangalore',
 'Mysoru / Mysore',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'New Delhi',
 'Chennai',
 'Aligarh',
 'Salt Lake City',
 'Pune',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Indore',
 'Bengaluru / Bangalore',
 'MYSORE',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Ghaziabad']

In [44]:
#QUES NO 8
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

# creating empty lists for scraping data
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

# Scraping Book_name
book_name=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in book_name:
    if i.text is None:
        Book_name.append('--')
    else:
        Book_name.append(i.text)
        
# Scraping Author_name
author_name=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in author_name:
    if i.text is None:
        Author_name.append('--')
    else:
        Author_name.append(i.text)
        
# Scraping Volumes_sold
volumes_sold=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in volumes_sold:
    if i.text is None:
        Volumes_sold.append('--')
    else:
        Volumes_sold.append(i.text)
        
# Scraping Author_name
publisher=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in publisher:
    if i.text is None:
        Publisher.append('--')
    else:
        Publisher.append(i.text)
        
# Scraping Genre
genre=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in genre:
    if i.text is None:
        Genre.append('--')
    else:
        Genre.append(i.text)

Top_selling_book=pd.DataFrame({})
Top_selling_book['Book_name']=Book_name
Top_selling_book['Author_name']=Author_name
Top_selling_book['Volumes_sold']=Volumes_sold
Top_selling_book['Publisher']=Publisher
Top_selling_book['Genre']=Genre
Top_selling_book

C:\Users\BHAVYA OJHA\AppData\Local\Temp\ipykernel_16836\1195056736.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome("chromedriver.exe")

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [45]:
#QUES NO 09
driver=webdriver.Chrome("chromedriver.exe") 
url ="https://www.imdb.com/list/ls095964455/"
driver.get(url)
driver.maximize_window()

C:\Users\BHAVYA OJHA\AppData\Local\Temp\ipykernel_16836\2196663909.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome("chromedriver.exe")

In [46]:
# Creating empty list
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

#Scraping Name
name=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")
for i in name:
    Name.append(i.text)
    
#Scraping Year_span
year_span=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/span[2]")
for i in year_span:
    Year_span.append(i.text)

    
#Scraping Genre
genre=driver.find_elements(By.XPATH,"//p[@class='text-muted text-small']/span[5]")
for i in genre:
    Genre.append(i.text)
    
    
#Scraping Run_time
run_time=driver.find_elements(By.XPATH,"//p[@class='text-muted text-small']/span[3]")
for i in run_time:
    Run_time.append(i.text)
    
#Scraping Ratings
ratings=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-widget']/div/span[2]")
for i in ratings:
    Ratings.append(i.text)
    
#Scraping Votes
votes=driver.find_elements(By.XPATH,"//p[@class='text-muted text-small'][3]/span[2]")
for i in votes:
    Votes.append(i.text)
    
Top_shows=pd.DataFrame({})
Top_shows['Name']=Name
Top_shows['Year_span']=Year_span
Top_shows['Genre']=Genre
Top_shows['Run_time']=Run_time
Top_shows['Ratings']=Ratings
Top_shows['Votes']=Votes
Top_shows

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,021,407"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,117,840"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"959,788"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"286,923"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"246,531"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,268"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,161"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"193,409"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,808"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"233,374"

In [47]:
#QUES NO 10
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

C:\Users\BHAVYA OJHA\AppData\Local\Temp\ipykernel_16836\4097933063.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome("chromedriver.exe")

In [50]:
view_dataste= driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]/a")
view_dataste.click()
time.sleep(4)

In [51]:
# creating empty lists for scraping data
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

#scraping Dataset name
data_name= driver.find_elements(By.XPATH,"//p[@class='normal']/b/a[1]")
for i in data_name:
    if i.text is None :
        Dataset_name.append("--") 
    else:
        Dataset_name.append(i.text)

time.sleep(4)        
#Scraping data Type
data_type=driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[2]/p")
for i in data_type[1:]:
    if i.text is None :
        Data_type.append("--") 
    else:
        Data_type.append(i.text)

time.sleep(4) 
#Scraping Task
task=driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[3]/p")
for i in task[1:]:
    if i.text is None :
        Task.append("--") 
    else:
        Task.append(i.text)
        
time.sleep(4) 
#Scraping Attribute_type
attribute_type=driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[4]/p")
for i in attribute_type[1:]:
    if i.text is None :
        Attribute_type.append("--") 
    else:
        Attribute_type.append(i.text)

time.sleep(4)         
#Scraping No_of_instances
no_of_instances=driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[5]/p")
for i in no_of_instances[1:]:
    if i.text is None :
        No_of_instances.append("--") 
    else:
        No_of_instances.append(i.text)

time.sleep(4)         
#Scraping No_of_attribute
no_of_attribute=driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[6]/p")
for i in no_of_attribute[1:]:
    if i.text is None :
        No_of_attribute.append("--") 
    else:
        No_of_attribute.append(i.text)

time.sleep(4) 
#Scraping Year
year=driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[7]/p")
for i in year[1:]:
    if i.text is None :
        Year.append("--") 
    else:
        Year.append(i.text)
        
data_dataset=pd.DataFrame({})
data_dataset['Dataset_name']= Dataset_name
data_dataset['Data_type']= Data_type
data_dataset['Task']= Task
data_dataset['Attribute_type']= Attribute_type
data_dataset['No_of_instances']= No_of_instances
data_dataset['No_of_attribute']= No_of_attribute
data_dataset['Year']= Year

In [52]:
data_dataset

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [53]:
#QUES NO 05
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://github.com/ "
driver.get(url)
time.sleep(4)
driver.maximize_window()

C:\Users\BHAVYA OJHA\AppData\Local\Temp\ipykernel_16836\1061689760.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome("chromedriver.exe")

In [57]:
Explore=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
Explore.click()

Treading=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")

In [69]:

# Creating emplty list 
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

#scraping Repository_title
repository_title=driver.find_elements(By.XPATH,"//span[@class='text-normal']")
for i in repository_title:
    if i.text is None:
        Repository_title.append('--')
    else:
        Repository_title.append(i.text)
        
#scraping Repository_description
repository_description=driver.find_elements(By.XPATH,"//p[@class='col-9 color-fg-muted my-1 pr-4']")
for i in repository_description:
    if i.text is None:
        Repository_description.append('--')
    else:
        Repository_description.append(i.text)
        

#scraping Contributors_count
contributors_count=driver.find_elements(By.XPATH,"//div[@class='f6 color-text-secondary mt-2']/a[2]")
for i in contributors_count:
    if i.text is None:
        Contributors_count.append('--')
    else:
        Contributors_count.append(i.text)
        

#scraping Language_used
language_used=driver.find_elements(By.XPATH,"//span[@class='d-inline-block ml-0 mr-3']")
for i in language_used:
    if i.text is None:
        Language_used.append('--')
    else:
        Language_used.append(i.text)
        
Treding_rep=pd.DataFrame({})
Treding_rep['Repository_title']= Repository_title
Treding_rep['Language_used']= Language_used
Treding_rep

ValueError: Length of values (21) does not match length of index (25)

In [72]:
#QUES NO 06
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.billboard.com/"
driver.get(url)

C:\Users\BHAVYA OJHA\AppData\Local\Temp\ipykernel_16836\3120106868.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome("chromedriver.exe")

In [79]:
# Creating Blank List
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

#Scraping Song_name
song_name= driver.find_elements(By.XPATH,"//span[@class='chart-results-list']/span[1]")
for i in song_name:
    if i.text is None:
        Song_name.append('--')
    else:
        Song_name.append(i.text)

#Scraping Artist_name
artist_name= driver.find_elements(By.XPATH,"//span[@class='chart-results-list ']/span[2]")
for i in artist_name:
    if i.text is None:
        Artist_name.append('--')
    else:
        Artist_name.append(i.text)
        
#Scraping Last_week_rank
last_week_rank= driver.find_elements(By.XPATH,"//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in last_week_rank:
    if i.text is None:
        Last_week_rank.append('--')
    else:
        Last_week_rank.append(i.text)
        
#Scraping Peak_rank
peak_rank= driver.find_elements(By.XPATH,"//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in peak_rank:
    if i.text is None:
        Peak_rank.append('--')
    else:
        Peak_rank.append(i.text)
        
#Scraping Weeks_on_board
weeks_on_board= driver.find_elements(By.XPATH,"//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in weeks_on_board:
    if i.text is None:
        Weeks_on_board.append('--')
    else:
        Weeks_on_board.append(i.text)

Hot_Songs=pd.DataFrame({})
Hot_Songs['Song_name']=Song_name
Hot_Songs['Artist_name']=Artist_name
Hot_Songs['Last_week_rank']=Last_week_rank
Hot_Songs['Peak_rank']=Peak_rank
Hot_Songs['Weeks_on_board']=Weeks_on_board

Hot_Songs

Empty DataFrame
Columns: [Song_name, Artist_name, Last_week_rank, Peak_rank, Weeks_on_board]
Index: []